@use "../../assets/styles/variables.scss" as *;

.cardWrapper {
  min-height: 20rem;
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 2px;
}

// full width card handling
.fullWidth {
  grid-column: 1 / span 2;
  height: 100%;
  .descriptionSection {
    width: 100%;
  }
  .posterSection {
    max-width: 16rem;
  }
  .cardContent {
    margin-bottom: 5rem;
  }
}

.posterSection {
  min-width: 16rem;
  background-color: $info;
  max-height: 22rem;
  object-fit: cover;
}

.descriptionSection {
  background-color: $light;
  width: 80%;
  position: relative;
}

.cardFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cardContent {
  padding: 1.2rem 1rem;
}

.separator {
  border-bottom: 2px solid $light2;
}

.cardFooterContent {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.4rem;
}
.subTitle {
  font-size: 1rem;
  color: $light3;
  font-weight: 500;
  margin-top: 1rem;
}

.year {
  font-size: 1.4 rem;
  font-weight: 600;
  color: $light3;
}

// handle movie card responsiveness for mobile devices

@media (max-width: 540px) {
  .cardWrapper {
    grid-column: 1;
    height: 100%;
  }
  .cardContent {
    padding: 1.2rem 1rem;
  }
  .fullWidth {
    .cardContent {
      margin-bottom: 4rem;
      height: 100%;
    }
  }
}
