.homeWrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}
.moviesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
}

@media (max-width: 540px) {
  // set all the movie cards to full width on mobile devices
  .moviesContainer {
    grid-template-columns: 100%;
  }
}
