@use "./assets/styles/variables.scss" as *;

// set basic font configurations
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// rem configurations
// we'll use the rem scale in this project. following configuration will set to 1rem = 10px
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
}

// basic tag styles
h1 {
  font-size: 2.4rem;
}

h6 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
  color: $secondary;
}

p {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  color: $secondary;
}
