// Basic theme Colors
$primary: #307cfb;
$secondary: #3b3e3f;
$light: #ffff;
$light1: #fcfcfd;
$light2: #f0f1f2;
$light3: #bfbfbf;
$dark: #000000;

// message colors
$info: #f2f5f7;
$error: #e62b59;
$lightError: #fdecf0;
